
input, label {
    display: block;
  }
  
  input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: rgb(148, 35, 35);
    color:white;
    border-radius: 2px;
    height: 50px;
    width: 400px;
  }